<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about/back_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{34,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{34,44}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>about/back_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,38},{34,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,21},{34,44}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>about/bigbang_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>about/logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{187,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,180}}</string>
                <key>sourceSize</key>
                <string>{187,180}</string>
            </dict>
            <key>about/mow_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,184},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>about.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e5d0c47938deb4d6a36d4956c74ed17:aa873c1511b6891ed4356d5aab710132:721447ffda4f3a63c6acc9c28506462c$</string>
            <key>textureFileName</key>
            <string>about.png</string>
        </dict>
    </dict>
</plist>
