<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ad_close_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,336},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ad_close_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,378},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>calendar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{38,532}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,532}}</string>
                <key>sourceSize</key>
                <string>{38,532}</string>
            </dict>
            <key>calendar_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1000},{6,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,56}}</string>
                <key>sourceSize</key>
                <string>{6,56}</string>
            </dict>
            <key>checkpoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>coin_future.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,420},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>coin_past.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,462},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{40,40}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>coin_today.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,212},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>gifticon.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,536},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>goldcoin_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,284},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>lvup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,264}}</string>
                <key>sourceSize</key>
                <string>{640,264}</string>
            </dict>
            <key>replay_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{204,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,232}}</string>
                <key>sourceSize</key>
                <string>{204,232}</string>
            </dict>
            <key>replay_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,644},{204,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,232}}</string>
                <key>sourceSize</key>
                <string>{204,232}</string>
            </dict>
            <key>revive_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,878},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>revive_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{208,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,134}}</string>
                <key>sourceSize</key>
                <string>{208,134}</string>
            </dict>
            <key>revive_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,878},{208,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,134}}</string>
                <key>sourceSize</key>
                <string>{208,134}</string>
            </dict>
            <key>revive_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{208,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,134}}</string>
                <key>sourceSize</key>
                <string>{208,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2db8561944d86465de73d85ac13f873:ada448a7d85da210fe9d525386256270:1c2ea6544203823c5dcf3bf33f0ff1bf$</string>
            <key>textureFileName</key>
            <string>res_2.png</string>
        </dict>
    </dict>
</plist>
