<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<integer>0</integer>
	<key>angleVariance</key>
	<integer>360</integer>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>0.1000000014901161</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>0.7888888716697693</real>
	<key>finishColorGreen</key>
	<real>0.6629629731178284</real>
	<key>finishColorRed</key>
	<real>0.2333333343267441</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<integer>12</integer>
	<key>finishParticleSizeVariance</key>
	<integer>26</integer>
	<key>gravityx</key>
	<integer>0</integer>
	<key>gravityy</key>
	<integer>0</integer>
	<key>maxParticles</key>
	<integer>274</integer>
	<key>maxRadius</key>
	<integer>0</integer>
	<key>maxRadiusVariance</key>
	<integer>0</integer>
	<key>minRadius</key>
	<integer>0</integer>
	<key>minRadiusVariance</key>
	<integer>0</integer>
	<key>particleLifespan</key>
	<real>0.221875011920929</real>
	<key>particleLifespanVariance</key>
	<real>0.1953125</real>
	<key>radialAccelVariance</key>
	<integer>-460</integer>
	<key>radialAcceleration</key>
	<integer>-445</integer>
	<key>rotatePerSecond</key>
	<integer>0</integer>
	<key>rotatePerSecondVariance</key>
	<integer>0</integer>
	<key>rotationEnd</key>
	<integer>68</integer>
	<key>rotationEndVariance</key>
	<integer>0</integer>
	<key>rotationStart</key>
	<integer>34</integer>
	<key>rotationStartVariance</key>
	<integer>0</integer>
	<key>sourcePositionVariancex</key>
	<integer>0</integer>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>sourcePositionx</key>
	<integer>180</integer>
	<key>sourcePositiony</key>
	<integer>362</integer>
	<key>speed</key>
	<integer>183</integer>
	<key>speedVariance</key>
	<integer>128</integer>
	<key>startColorAlpha</key>
	<real>0.09000000357627869</real>
	<key>startColorBlue</key>
	<real>0.7370370626449585</real>
	<key>startColorGreen</key>
	<real>0.1592592597007751</real>
	<key>startColorRed</key>
	<real>0.02592592500150204</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<integer>30</integer>
	<key>startParticleSizeVariance</key>
	<integer>49</integer>
	<key>tangentialAccelVariance</key>
	<integer>-78</integer>
	<key>tangentialAcceleration</key>
	<integer>-62</integer>
	<key>textureFileName</key>
	<string>effect/img.png</string>
</dict>
</plist>
